#header {
    width: 100%;
    height: 80px;
    background-color: #76c7c0;
    color: white;
    line-height: 80px;
}
.inner-header {
    height: 80px;
}
.logo {
    height: 80px;
}
.header-menu {
    height: : 80px;
}
.header-menu ul {
    list-style: none;
}
.header-menu ul li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    transition: background 0.2 ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
}
.header-menu ul li:hover {
    background-color: #e5655d;
    border: 2px solid #e2534b;
    cursor: pointer;
}
.header-menu ul li ul {
    display: none;
    list-style: none;
    position: absolute;
    z-index: 200;
    width: 200px;
    text-align: center;
    margin-left: -60px;
}
.header-menu ul li:hover ul {
    display: block;
}
.header-menu ul li ul li {
    display: block;
    border: 2px solid #e2534b;
    margin-top: 4px;
    background-color: #e5655d;
    right: 100;
}
.header-menu .arrow-up {
    margin-left: 100px;
    margin-top: 3px;
    height: 0;
    margin-bottom: 1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #e2534b;
    width: 0;
}
/* slider  */

#slider {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: #7f8c8c;
}
.back-btn-slider {
    position: absolute;
    left: 0;
    width: 50px;
    height: 60px;
    background-color: #e8645a;
    top: 50%;
    color: white;
    line-height: 60px;
    font-style: bold;
    text-align: center;
    border-radius: 0px 8px 8px 0;
}
.next-btn-slider {
    position: absolute;
    right: 0;
    width: 50px;
    height: 60px;
    background-color: #e8645a;
    top: 50%;
    color: white;
    line-height: 60px;
    font-style: bold;
    text-align: center;
    border-radius: 8px 0px 0px 8px;
}
.inner-slider {} .navigation {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 1024px;
    display: block;
}
.nav {
    line-height: 20px;
    width: 60px;
    height: 5px;
    background-color: #b0b8b9;
    display: inline-block;
    margin-left: 20px;
}
.active {
    background-color: #e2534b;
}
#slider h1 {
    font-size: 50px;
    font-weight: bold;
    background-color: #e2534b;
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 30%;
    right: 30%;
    width: 600px;
    text-align: center;
    margin: 0 auto;
}
.slide-text {
    display: block;
    background-color: #3f4646;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 8px;
    position: absolute;
    top: 45%;
    right: 27%;
    text-overflow: none;
}
#some-note {
    margin-top: 30px;
}
.services {
    height: 300px;
    margin: 0 auto;
    margin-top: 30px;
    color: #7f8c8c;
}
.services .fa {
    color: #62bdbd;
}
.services .fa:hover {
    color: #e8645a;
}
.services p {
    text-align: center;
    font-size: 13px;
}
.title {
    height: 115px;
    text-align: center;
    color: #e1524b;
    vertical-align: middle;
    padding-top: 75px;
}
.title h2 {
    font-size: 40px;
    font-weight: bold;
}
.title p {
    font-size: 13px;
    color: #777777;
}
#bottom-slider {
    height: 360px;
    display: block;
}
#stats {
    height: 280px;
    text-align: center;
    color: #777777;
}
h4 {
    font-weight: bold;
    font-size: 16px;
}
#stats ul {
    padding-top: 10px;
    font-size: 13px;
}
.stats-2 p {
    font-size: 13px;
}
#stats ul li:before {
    font-family: FontAwesome;
    content: "\f061";
    color: #e1524b;
    margin-left: -5px;
}
#footer {
    width: 100%;
    height: 300px;
    background-color: #76c7c0;
    color: white;
}
.s-footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #6ab3ac;
    color: white;
}
.s-footer a {
    ma
}
.s-footer a:visited {
    color: white;
}
#footer h3 {
    color: #497e79;
    font-size: 20px;
}
#footer p {
    font-size: 13px;
}
#footer ul li:before {
    font-family: "FontAwesome";
    content: "\f061";
    color: white
}
#footer .box {
    padding: 20px;
    height: 260px;
    width: 301px;
}
#post {
    display: inline-block;
    width: 260px;
}
#post p {
    width: 200px;
}
#imgh {
    width: 60px;
    height: 60px;
}
#post i {
    width: 60px;
}